/* This is an example CSS file, feel free to remove/edit it anytime */
body {
  background-color: #836e4c;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: white;
  width: 60vw;
  min-width: 265px;
  height: min-content;

  border-radius: 10px;
  box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.6);

  display: flex;
}

.card {
  position: relative;
}

.photo {
  width: 125px;
  height: 200px;
  position: absolute;
  left: clamp(130px, 25%, 200px);
  top: calc(50% - 100px);
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: darkolivegreen;
  width: 25%;
  min-width: 130px;
  height: 100%;

  padding: 10px 0 10px 10px;

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.contact .separator {
  width: calc(60% + 15px);
  height: 10px;
  align-self: self-end;

  background-color: white;
}

.contact .email,
.contact .phone {
  width: 100%;
  height: min-content;
  margin-bottom: 15px;
}

.contact .social-links {
  width: 100%;
  height: min-content;
  margin-top: 35px;
}

.contact .social-links ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;

  padding: 0;
  margin: 0;
}

.contact .social-links ul li {
  margin-right: 10px;
}

.contact .social-links i {
  line-height: 1.5rem;
}

.contact .social-links a i {
  font-size: 1rem;
}

.contact .email i,
.contact .phone i,
.contact .social-links i {
  color: white;
  margin-right: 5px;
}

.contact .email a,
.contact .phone a,
.contact .social-links a {
  display: flex;
  flex-direction: column;

  color: white;
  font-size: .55rem;
  line-height: 1.5rem;

  text-decoration: none;
}

.contact a:hover {
  color: cornflowerblue;
  font-weight: 900;
}
.contact a i:hover {
  color: cornflowerblue;
  scale: 1.5;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
}

.footer a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.footer span {
  font-size: 14px;
}