/* This is an example CSS file, feel free to remove/edit it anytime */
body {
  background-color: #836e4c;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: white;
  width: 60vw;
  min-width: min-content;
  height: min-content;
  max-height: 435px;

  border-radius: 10px;
  box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.6);

  display: flex;
}

.card {
  position: relative;
}

.photo {
  width: 150px;
  height: 250px;
  position: absolute;
  left: clamp(200px, 20%, 250px);
  top: calc(50% - 100px);
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: darkolivegreen;
  width: 40%;
  min-width: 200px;

  padding: 10px 0 10px 10px;

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.contact .separator {
  width: calc(60% + 15px);
  height: 10px;
  align-self: self-end;

  background-color: white;
}

.contact .email,
.contact .phone {
  width: 100%;
  height: min-content;
  margin-bottom: 15px;
}

.contact .social-links {
  width: max-content;
  height: min-content;
  margin-top: 35px;

  align-self: flex-start;
}

.contact .social-links ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;

  padding: 0;
  margin: 0;
}

.contact .social-links ul li {
  margin-right: 10px;
}

.contact .social-links i {
  line-height: 1.5rem;
}

.contact .social-links a i {
  font-size: 1rem;
}

.contact .email i,
.contact .phone i,
.contact .social-links i {
  color: white;
  margin-right: 5px;
}

.contact .email a,
.contact .phone a,
.contact .social-links a {
  display: flex;
  flex-direction: column;

  color: white;
  font-size: 0.65rem;
  line-height: 1.5rem;

  text-decoration: none;
  text-transform: uppercase;
}

.contact a:hover {
  color: black;
  font-weight: 900;
}
.contact a i:hover {
  color: black;
  scale: 1.5;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  background-color: white;
  width: 60%;

  margin-left: 135px;
  padding: 15px;

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.info__name {
  font-size: 1.5rem;
  font-weight: bold;

  text-transform: uppercase;
}

.info__tagline {
  font-size: 0.75rem;
  font-weight: bold;

  text-transform: uppercase;
}

.info__bio {
  font-size: 0.85rem;
  font-weight: 300;
  line-height: 1.15rem;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0 10px;
  text-align: justify;
  letter-spacing: 1px;

  min-width: 240px;
  max-height: 110px;
}

.info__skills {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.info__skills-list {
  list-style-type: disc;
  list-style-position: inside;
  padding: 0 10px;
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 1.15rem;
}

.accent {
  color: darkred;
}

.block {
  display: block;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
}

.footer a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.footer span {
  font-size: 14px;
}
