/* This is an example CSS file, feel free to remove/edit it anytime */
body {
  background-color: cornflowerblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: white;
  width: 60vw;
  height: 40vh;

  border-radius: 10px;
  /* card box shadow */
  box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.4);

}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
}

.footer a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.footer span {
  font-size: 14px;
}
